use_poetry() {
  venv=$(poetry env info -p 2>/dev/null)
  if [ -d "$venv" ]; then
    export VIRTUAL_ENV="$venv"
    export PATH="$VIRTUAL_ENV/bin:$PATH"
  else
    echo "Poetry venv not found, creating..." >&2
    python_path="$(command -v python3)"
    [ -z "$python_path" ] && echo "python3 not found" >&2 && return 1
    poetry env use "$python_path" || return 1
    poetry install || return 1
    venv=$(poetry env info -p 2>/dev/null)
    export VIRTUAL_ENV="$venv"
    export PATH="$VIRTUAL_ENV/bin:$PATH"
  fi
}
use poetry

